@charset "UTF-8";

@import url("./default/default.css"); 
@import url("./default/tabela.css");

.card-left {
  background-color: var(--cor-menu);
  flex: 0.0625rem; /* 1px */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem; /* 20px */
  border-radius: 2.125rem; /* 34px */
  box-shadow: 0.9375rem 0.25rem 2.875rem var(--cor-menu-sombra); /* 15px 4px 46px */
}

.card-right {
  flex: 2;
  padding: 2.5rem; /* 40px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  /* Centraliza os elementos horizontalmente */
  text-align: center;   /* Garante que o texto fique alinhado ao centro */
}

.title {
  font-size: 2rem; /* 32px */
  color: var(--cor-textos);
  margin-bottom: 1.25rem; /* 20px */
}

.title:hover {
  text-decoration: underline;
}

.input-container {
  width: 100%;
  max-width: 40.625rem; /* 650px */
  margin-bottom: 1.25rem; /* 20px */
  text-align: center;
}

.input {
  width: 20rem; /* 320px */
  max-width: 100%;
  border: none;
  border-bottom: 0.125rem solid var(--cor-input); /* 2px */
  outline: none;
  font-size: 1rem; /* 16px */
  padding: 0.625rem 0; /* 10px */
  color: var(--cor-textos);
}

.input::placeholder {
  color: #828282;
  opacity: 1; 
}

.input:focus::placeholder {
  opacity: 0; 
}

.input:focus {
  border-bottom: 0.125rem solid #3a5945; /* 2px */
}

.admin-link {
  display: block;
  font-size: 0.875rem; /* 14px */
  color: #51735a;
  margin-bottom: 0.75rem; /* 12px */
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}
 
.admin-link:hover {
  color: #3a5945;
  text-decoration: underline;
}

.button {
  background-color: var(--cor-botao);
  color: #fff;
  font-size: 1.125rem; /* 18px */
  padding: 0.625rem 1.25rem; /* 10px 20px */
  border: none;
  border-radius: 1.5rem; /* 24px */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 0.4375rem; /* 7px */
}

.button:hover {
  background-color: var(--cor-botao-pressionado);
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.hidden {
  display: none;
}

/* Estilo do Modal */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 2.5rem; /* 40px */
  border-radius: 0.75rem; /* 12px */
  width: 62.5rem; /* 1000px */
  max-width: 90%;  /* Garantir responsividade */
  text-align: center;
  box-shadow: 0rem 0.25rem 1.25rem rgba(0, 0, 0, 0.1); /* 0px 4px 20px */
  position: relative;  /* Para posicionar o botão de fechar */
}

.close-button {
  position: absolute;
  top: 0.625rem; /* 10px */
  right: 0.625rem; /* 10px */
  cursor: pointer;
  font-size: 1.75rem; /* 28px */
  background-color: transparent;
  border: none;
  color: #51735a;
  transition: color 0.3s;
}

.close-button:hover {
  color: #3a5945;
}

/* Ajustes para a Tabela no Modal */
table {
  width: 100%;
  margin: 0 auto;
  max-width: 56.25rem; /* 900px */
  border-collapse: collapse;
  margin-top: 1.25rem; /* 20px */
  border-radius: 0.875rem; /* 14px */
  background-color: #fff;
  box-shadow: 0rem 0.25rem 1.25rem rgba(0, 0, 0, 0.1); /* 0px 4px 20px */
  overflow: hidden;
}

th, td {
  border: 0.0625rem solid #51735a; /* 1px */
  padding: 0.75rem; /* 12px */
  text-align: left;
  font-size: 1rem; /* 16px */
}

th {
  background-color: #a8d3b1;
  color: #1e1e1e;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0f0e9;
}

/* Bordas arredondadas para a tabela */
th:first-child {
  border-top-left-radius: 0.75rem; /* 12px */
}

th:last-child {
  border-top-right-radius: 0.75rem; /* 12px */
}

tr:last-child td:first-child {
  border-bottom-left-radius: 0.75rem; /* 12px */
}

tr:last-child td:last-child {
  border-bottom-right-radius: 0.75rem; /* 12px */
}

.hidden {
  display: none;
}
